.home,
.profile,
.createUser,
.settings,
.users,
.places,
.displayPlacesDetails,
.error {
  /* background-color: #d0d0d0; */
  display: block;
  height: 98vh;
  align-items: center;
  justify-content: center;
  margin-left: 5rem;
  padding: 1rem;
}
